[Desktop Entry]
Type=Application
Exec=/usr/lib/vino/vino-server --sm-disable
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Vino Server
Name=/usr/lib/vino/vino-server
Comment[en_US]=
Comment=
